<!DOCTYPE html>
<html lang="pt-br">

    <head>
        {% block head %}
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="/styles.css">
            <title>Aulas</title>
        {% endblock head %}
    </head>

    <body>
        <header>
            <div class="links">
                <a href="/" class="active">Professores</a>
                <a href="/students">Alunos</a>
            </div>
        </header>

        {% block content %}{% endblock content %}
    </body>
</html>