<script>
    const formDelete = document.querySelector('#delete-form')
    formDelete.addEventListener('submit', function (e) {
        const confirmation = confirm('Deseja excluir?')
        if (!confirmation) {
            e.preventDefault()
        }
    })
</script>