{% extends 'layout.njk' %}

{% block content %}
    <div class="card table-container">
        <a href="/teachers/create" class="button">Novo</a>
        <table width="100%">
            <thead>
                <tr>
                    <th>Nome completo</th>
                    <th>Acompanhamento</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for teacher in teachers %}

                    <tr>
                        <td>
                            <span style="background-image: url({{teacher.avatar_url}});"></span>
                            {{teacher.name}}
                        </td>
                        <td>
                            {% for service in teacher.services.split(',') %}
                                <span class="services">{{service}}</span>
                            {% endfor %}
                        </td>

                        <td>
                            <a class="button" href="/teachers/{{teacher.id}}">Ver</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock content %}