{% extends "layouts/main.njk" %}

{% block content %}
    <section class="banner">
        <div class="container">
            <div class="banner-content">
                <h1>As melhores receitas</h1>
                <p>
                    Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.
                </p>
            </div>
            <div class="banner-img">
                <img src="images/chef.png" alt="chef">
            </div>
        </div>
    </section>
    <section class="most-popular">
        <div class="container">
            <h2>Mais acessadas</h2>
            <div class="recipe-container">
                {% for recipe in recipes %}
                    <div class="recipe" id="{{loop.index -1}}">
                        <img src="{{recipe.image}}" alt="imagem de {{recipe.title}}">
                        <h3 class="title">{{recipe.title}}</h3>
                        <p class="author">por {{recipe.title}}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}