{% extends 'layout.njk' %}

{% block content %}
    <div class="card">
        <section class="avatar" style="background: url(https://source.unsplash.com/collection/8874679/500x500) no-repeat center center / cover; border-radius: 4px 0 0 4px;"></section>

        <section class="details">
            <h3>Detalhes</h3>

            <div class="item-wraper">
                <div class="item">
                    <div>Professor</div>
                    <div>Alex Lorem</div>
                </div>
                <div class="item">
                    <div>Idade</div>
                    <div>38</div>
                </div>
                <div class="item">
                    <div>Grau de escolaridade</div>
                    <div>Mestrado</div>
                </div>
                <div class="item">
                    <div>Tipo de Aula</div>
                    <div>EAD</div>
                </div>
                <div class="item">
                    <div>Acompanhamento</div>
                    <div>
                        <span>Inglês</span>
                    </div>
                </div>
                <div class="item">
                    <div>Desde</div>
                    <div>03/02/2020</div>
                </div>
            </div>
        </section>
    </div>

{% endblock content %}