{% extends 'layout.njk' %}

{% block content %}
    <div class="card">
        <section class="avatar" style="background: url({{student.avatar_url}}) no-repeat center center / cover; border-radius: 4px 0 0 4px;"></section>
        <section class="details">
            <form method="POST" action="/students?_method=PUT">

                <h3>Editar Aluno(a)</h3>

                {% include 'students/fields.njk' %}

                <input type="hidden" name="id" value="{{student.id}}">
                <button type="submit">Salvar</button>                
            </form>
            <form id="delete-form" method="POST" action="/students?_method=DELETE">
                <input type="hidden" name="id" value="{{student.id}}">
                <button type="submit">Excluir</button>
            </form>
        </section>
    </div>
{% include 'confirm.njk'%}
{% endblock content %}