{% extends 'layouts/admin.njk' %}

{% block content %}
    <section class="recipes-admin">
        <div class="container">
            <div class="title">
                <h2>Gerenciar receitas</h2>
            </div>
            <div class="recipe-container">
                {% for recipe in recipes %}
                        <div class="recipe" id="{{loop.index -1}}">
                            <img src="{{recipe.image}}" alt="imagem de {{recipe.title}}">
                            <h3 class="title">{{recipe.title}}</h3>
                            <p class="author">por {{recipe.author}}</p>
                        </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}