<!DOCTYPE html>
<html>

<head>
    {% block head %}
    <title>Aulas</title>
    {% endblock %}
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <header>
        <div class="links">
            <a class="active" href="/">Professores</a>
            <a href="/students">Alunos</a>
        </div>
    </header>

    {% block content %}{% endblock %}

</body>

</html>